@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    /* Color table */
    --color--1: #22242a;
    --color--2: #2f323a;
    --color--3: #19b3d3;
    --color--4: #0d9dbb;
    --color--5: #1dc4e7;
    
    /* Layout default settings */
    --width--aside: 200px;
    --heigth--nav: 60px;
    --heigth--footer: 20px;

    --bk--nav: var(--color--1);
    --bk--aside: var(--color--2);
    --bk--footer: var(--color--1);
    --bk--link--hover: var(--color--3);
    --color--logo: var(--color--5);

    /* Home */
    --box--shadow--card: var(--color--2); 
    --color--card: var(--color--1); 
}

/* commom */
a.btn,
select,
button,
input[type=tel],
input[type=text],
input[type=email],
input[type=password]
{
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--color--2);
    outline: none;
    background: #fff;
    width: 100%;
}

a.btn,
select,
button
{
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

a.btn:focus,
select:focus,
button:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus
{
    outline: var(--color--3) solid 1px;
}

a.btn,
button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    transition-property: all;
}

a.btn-forward,
button.btn-forward {
    background-color: var(--color--4);
    border: none;
    color: #fff;
}

a.btn-forward:hover,
button.btn-forward:hover {
    background-color: var(--color--3);
}

table {
    border-spacing: 0;
    width: 100%;
}

table td, table th {
    white-space: nowrap;
}

.money{
    position: relative;
}

.money span{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    width: 35px;
}

.money input{
    padding-left: 35px;
}

.scrollbar-hide{
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar{
    display: none;
}